
<div class="steppers-container row">
<div class="col-md-12 col-lg-6 col-xxxl-6">
    <nb-card status="success">
  <nb-card-header>
    Campeonatos Activos
  </nb-card-header>

    <nb-card-body>
      <ng2-smart-table [settings]="settings" [source]="data"></ng2-smart-table>

    </nb-card-body>
  </nb-card>
</div>
<div class="col-md-2 col-lg-6 col-xxxl-6">

      <nb-card status="success">
    <nb-card-header>
      Estado de la Cuenta
    </nb-card-header>

      <nb-card-body>

      </nb-card-body>
    </nb-card>
    <nb-card status="success">
  <nb-card-header>
    Colaboradores
  </nb-card-header>

    <nb-card-body>
      <nb-list>
        <nb-list-item (click)="detalleCampeonato()">
          <nb-user size="large"
          name="Pedro Quiroz"
          title="CEO"
          badgeText="99+"
          badgeStatus="success"
          badgePosition="bottom right">
 </nb-user>
          </nb-list-item>
          <nb-list-item (click)="detalleCampeonato()">
            <nb-user size="large"
            name="Alejandro Fuentes"
            title="Asistente"
            badgeText="99+"
            badgeStatus="warning"
            badgePosition="bottom right">
   </nb-user>
   </nb-list-item>
   <nb-list-item (click)="detalleCampeonato()">
     <nb-user size="large"
     name="Daniel cacho"
     title="Cacho"
     badgeText="99+"
     badgeStatus="danger"
     badgePosition="bottom right">
</nb-user>
     </nb-list-item>
        </nb-list>

    </nb-card-body>
  </nb-card>
</div>
</div>
